<div class="row">
  <div class="col-sm-6">
    <div class="error-form">
      <% if @payment.errors.any? %>
        <ul style="padding: 0px;">
          <% @payment.errors.full_messages.each_with_index do |msg, index| %>
            <li style="color: red;line-height: 20px;list-style: none;"><%= index+1 %>. <%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>