<br /><br /><br /><br /><br /><br /><br /><br />
<div class="strip">
  <div class="container">
    <div class="row">
      <p>Hello School Admin Login Here! <%= link_to "Login Here!", new_school_admin_session_path, :class => 'btn btn-primary' %></p>
    </div>
  </div>
</div><br /><br /><br /><br /><br /><br />