<%= form_for @assign_class, :url=>assign_teachercls_school_teacher_path(@school.id,@user.id) do |f| %>

  <div class="column">
    <p> <label> Class: </label>
      <%= select_tag :class_id,  options_for_select([["Select", ""]] + Cls.where("status is null and school_admin_id=?",current_school_admin.id).map{|ic| [ic.class_name,ic.id]}), :onchange => "GetSubjects(this.value)" %>
    </p>
  </div>

  <div class="column" id="subjects">
    <p> <label> Subject: </label>
      <%=  select_tag :subjects,options_for_select(["Select", ""])%>
    </p>
  </div>
  <%= f.submit "Save" %>
<% end %>








