<div class="fields">
  Subject Name
  <%= f.autocomplete_field :subject_name,autocomplete_subject_subject_name_school_clses_path,:style=>"margin-top:5px;" %><%= link_to_remove_fields image_tag("delete_post.png",:style=>"background: none repeat scroll 0 0 #000000;margin-left: 5px;"), f  %><br/>
</div>
